body {
  font-family: sans-serif;

  background: #74ebd5; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #acb6e5,
    #74ebd5
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.header {
  position: relative;
  top: 5px;
  font-size: 30px;
  font-weight: 200;
  color: rgb(4, 137, 137);
}

#showGeo {
  position: relative;
  top: -95px;
  left: 450px;
  font-size: 17px;
  color: rgb(52, 162, 162);
  border-radius: 7px;
  border: 0;
  
}

#date {
  position: relative;
  top: -90px;
  left: 250px;
  font-size: 22px;
  color: rgb(52, 162, 162);
}

.container {
  background-color: rgb(255, 255, 255);
  width: 600px;
  height: 540px;
}

h5 {
  font-size: 11px;
  color: rgb(52, 162, 162);
}

img {
  position: relative;
  left: 20px;
  top: 10px;
}

.card-title {
  font-size: 15px;
  font-weight: 200;
  color: rgb(4, 137, 137);
  top: -42px;
  left: 57px;
}

.temperature {
  font-size: 25px;
  font-weight: 200;
  color: rgb(4, 137, 137);
}

.card-body .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.card-body .active:hover {
  text-decoration: none;
}

#description {
  font-size: 12px; 
  position: relative;
  bottom: 15px;
  left: 120px;
}
.card-text {
  font-size: 12px;
  position: relative;
  bottom: 15px;
  left: 100px;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: rgb(135, 135, 135);
  
  font-weight: 100;
  line-height: 19px;
}

li:first-letter {
  text-transform: capitalize;
}

h6 {
  font-size: 12px;
}

.card-group {
  width: 570px;
  height: 70px;
}
.card {
  background-color: #fafffe;
}

.GitHub{
  position: relative;
  left: 700px;
  top: 50px;
  color: aliceblue;
}
